<main class="main">
  <div class="inner">
  <%# <%= form_with(url: user_session_path, local: true, method: :get, class: "search-form") do |form| %>
    <%# ログインしているときは以下を表示する %>
     <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to current_user.name, new_user_session_path, class: :greeting__link %>
      </div>
      <% end %>
      <div class="card__wrapper">
    </div>
  </div>
</main>